.last-update {
  color: #6C768E;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.update-wrapper {
  margin-top: 22px;
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.svg-wrapper, .element-image{
  margin: 60px 0;
}