.last-update {
  color: #6C768E;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.update-wrapper {
  margin-top: 22px;
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.element-span {
  display: inline-block;
}

.element-image {
  margin-top: 60px;
  transform: scale(.5);
  transform-origin: top left;
  max-width: 1000px;
}